.logo {
  height: 10vh;
  cursor: pointer;

  @media only screen and (max-width: $bp-small) {
    order: 2;
    flex: 30%;
    margin-left: 4rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    flex: 6%;
    margin-left: 1rem;
    height: 4rem;
  }

  &__link {
    text-decoration: none;
    color: #000;
    padding: 3rem 0;

    @media only screen and (max-width: $bp-mobile) {
      color: #fff;
    }
  }
}

.logo-signup {
  @media only screen and (max-width: $bp-mobile) {
    height: 52%;
  }
}

.nav-bar {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  position: fixed;
  width: 100%;
  top: 8%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-around;
  z-index: 3000;

  @media only screen and (max-width: $bp-largest) {
    top: 8%;
  }

  @media only screen and (max-width: $bp-medium) {
    top: 3%;
  }
  @media only screen and (max-width: $bp-medium) {
    top: 5%;
  }
}

.signup {
  top: 0;

  @media only screen and (max-width: $bp-mobile) {
    height: 11%;
  }
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 35vw;
  height: 10vh;

  @media only screen and (max-width: $bp-largest) {
    width: 40vw;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 39%;
  }

  @media only screen and (max-width: $bp-small) {
    order: 4;
    flex: 60%;
    padding-right: 2rem;
    height: 4vh;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: 0;
    flex: 50%;
    margin: 0 1rem;
    height: 7vh;
  }
  &__item {
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      width: 30%;
      text-align: center;
      padding: 2rem 0;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 0.9rem;
    }
  }
  &__link {
    text-decoration: none;
    color: #000;
    margin: 0 2rem;
    display: block;
    transform: translateY(60%);

    @media only screen and (max-width: $bp-largest) {
      margin: 0 1rem;
    }
  }
}

.active-item {
  background-color: var(--submenu-color);
}

.search-bar {
  padding-top: 1.5%;
  height: 10vh;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 2.2%;
  }

  @media only screen and (max-width: $bp-small) {
    order: 1;
    flex: 45%;
    // margin-left: 4rem;
  }
  @media only screen and (max-width: $bp-mobile) {
    margin-bottom: 0;
  }
  &__input {
    border-radius: 18px;
    border-width: 1px;
    height: 3rem;
    width: 21rem;
    padding: 1rem;

    @media only screen and (max-width: $bp-medium) {
      height: 2.5rem;
      width: 17rem;
    }

    @media only screen and (max-width: $bp-small) {
      // width: 65%;
      display: none;
    }
  }

  &__mobile {
    position: absolute;
    width: 40%;
    height: 100vh;
    right: 100%;
    background-color: #fff;
    -webkit-transition: right 0.3s ease-in-out;
    -moz-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    -ms-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }

  &__mobile-active {
    position: absolute;
    width: 40%;
    height: 100vh;
    background-color: #fff;
    right: 60%;
    z-index: 4000;
    -webkit-transition: right 0.3s ease-in-out;
    -moz-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    -ms-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }

  &__desktop {
    position: fixed;
    bottom: 100%;
    width: 80%;
    border: 0.1px solid #000;
    height: 20vh;
    z-index: 500;
    margin: 0 10%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &__desktop-active {
    position: fixed;
    bottom: 35%;
    width: 80%;
    height: 40vh;
    border: 0.1px solid #000;
    z-index: 500;
    margin: 0 10%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &__wrapper {
    padding-left: 4rem;
    width: 100%;
  }

  &__mobile-form {
    margin: 0;
  }

  &__mobile-input-container {
    padding: 1rem 0;
    display: block;
  }

  &__mobile-back-button {
    width: 2rem;
    display: inline;
    transform: translateY(0.3rem);
    margin: 0 0.5rem;
  }

  &__mobile-input {
    font-size: 1.5rem;
    width: 60%;
    border: 0;
    outline: none;
  }
  &__mobile-input:active {
    border: 0;
    outline: none;
  }

  &__mobile-label {
    display: none;
  }

  &__mobile-icon {
    display: none;
  }

  &__mobile-icon-active {
    padding: 6px;
    border: none;
    background-color: transparent;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      width: 1.8rem;
      height: 1px;
      background-color: #000;

      display: inline-block;
      position: absolute;
    }

    &::before {
      transform: rotate(45deg);
      top: 3.3%;
      right: 10%;
    }

    &::after {
      transform: rotate(-45deg);
      top: 3.3%;
      right: 10%;
    }
  }

  &__button {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 58.5%;
    margin-top: 5px;
    border: none;
    background-color: #fff;

    @media only screen and (max-width: $bp-largest) {
      left: 71%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 10px;
      height: 10px;
      margin-top: 4px;
      left: 72%;
    }

    @media only screen and (max-width: $bp-small) {
      left: 3%;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin: 1.3rem;
    }
  }
}

.icons {
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5%;

  @media only screen and (max-width: $bp-largest) {
    width: 25vw;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-top: 2.2%;
  }

  @media only screen and (max-width: $bp-small) {
    order: 3;
    flex: 33%;
  }

  @media only screen and (max-width: $bp-small) {
    flex: 40%;
  }

  @media only screen and (max-width: $bp-mobile) {
    height: 5vh;
  }

  &__figure {
    position: relative;
    padding-left: 0.4rem;
  }

  &__icon {
    position: relative;
    width: 30px;
    height: 30px;

    @media only screen and (max-width: $bp-largest) {
      width: 20px;
      height: 20px;
    }
  }
  &__caption {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: black;
    border: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    width: 50%;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 1rem;
    }
  }
}

.hidden {
  display: none;
}

.myaccount {
  display: flex;
  text-decoration: none;

  @media only screen and (max-width: $bp-largest) {
    width: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    width: 59%;
  }
  @media only screen and (max-width: $bp-medium) {
    width: 67%;
  }
  @media only screen and (max-width: $bp-small) {
    width: 50%;
  }
  @media only screen and (max-width: $bp-mobile) {
    width: 55%;
  }
}
.loggedIn {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
  margin: auto;

  @media only screen and (max-width: $bp-largest) {
    margin: 0.3rem auto;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 0.9rem;
  }
}
.logout-list {
  text-decoration: none;
  position: absolute;
  top: 40%;
  right: 10%;
  width: 13%;
  height: 85%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  color: #000;
  transition: all ease-out 0.8s;

  @media only screen and (max-width: $bp-small) {
    top: 0;
    bottom: 100%;
    right: 28%;
  }
  @media only screen and (max-width: $bp-mobile) {
    right: 30%;
  }

  &__item {
    list-style: none;
    font-weight: 300;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      font-size: 1rem;
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
  }

  &__active {
    top: 75%;
    height: 10rem;
    background-color: #fff;
    opacity: 1;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      top: 35%;
      right: 28%;
    }
    @media only screen and (max-width: $bp-vsmall) {
      right: 30%;
      width: 17%;
    }
    @media only screen and (max-width: $bp-mobile) {
      width: 23%;
      right: 25%;
    }
  }
}

.search-active {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  position: fixed;
  width: 100%;
  top: 8%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-around;
  z-index: 3000;

  @media only screen and (max-width: $bp-mobile) {
    top: 7%;
  }
}

.active-bar {
  padding-top: 1.5%;
  height: 65%;
  position: relative;
  z-index: 2000;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 2.2%;
  }

  @media only screen and (max-width: $bp-small) {
    order: 1;
    flex: 45%;
    margin-left: 4rem;
  }
  @media only screen and (max-width: $bp-mobile) {
    margin-bottom: 2rem;
  }
  &__input {
    border-radius: 18px;
    border-width: 1px;
    height: 3rem;
    width: 40vw;
    padding: 1rem 5rem;

    @media only screen and (max-width: $bp-small) {
      width: 85%;
    }
  }
  &__button {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4%;
    margin-top: 5px;
    border: none;
    background-color: transparent;

    @media only screen and (max-width: $bp-largest) {
      left: 4%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 10px;
      height: 10px;
      margin-top: 3px;
      left: 4%;
      transform: translateY(3px);
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
  }

  &__btn {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 3%;
    opacity: 0.4;
    background-color: transparent;

    @media only screen and (max-width: $bp-small) {
      right: 19%;
    }

    &::before,
    &::after {
      content: "";
      width: 1.8rem;
      height: 1px;
      background-color: #000;

      display: inline-block;
      position: absolute;
    }

    &::before {
      transform: rotate(45deg);
      top: 49%;
      right: 10%;
    }

    &::after {
      transform: rotate(-45deg);
      top: 49%;
      right: 10%;
    }
  }
}

.dataResult {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 4000;
  overflow: scroll;

  @media only screen and (max-width: $bp-small) {
    padding: 2rem 0;
  }

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin: 2%;

    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
      width: 80%;
      margin: 0 10% 35% 10%;
    }
  }

  &__desc-container {
    display: table;
    width: 90%;

    @media only screen and (max-width: $bp-mobile) {
      width: 80%;
      margin: 0 10% 1rem 10%;
    }
  }

  &__link {
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
    padding: 3% 0;

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem 0 0 3rem;
      font-size: 1.2rem;
    }
  }

  &__link-active {
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    padding: 3% 0;
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__option {
    width: 30%;
  }

  &__title {
    font-size: 1.4rem;
    text-align: center;
  }

  &__title-active {
    font-size: 1.4rem;
    text-decoration: underline;
    text-align: center;
    transition: all ease-out 0.3s;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: visibility 500ms ease, opacity 500ms ease;
  }

  &__list-no-show {
    display: flex;
    flex-direction: column;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 500ms ease, opacity 500ms ease;
  }

  &__desc {
    font-size: 1.4rem;
    display: table-cell;
    vertical-align: middle;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 0.9rem;
    }
  }

  &__img {
    width: 6%;
    height: 100%;

    @media only screen and (max-width: $bp-mobile) {
      width: 80%;
      margin: 0 10%;
    }
  }
}

// Change the background when mobile search bar active

.background {
  width: 100%;
  height: 100vh;
  display: none;
}

.background-active {
  width: 100%;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 500;
}

// Determine view of active navbar depending on screen
.not-show-mobile {
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.not-show-larger-screen {
  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.not-show-large-screen {
  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
}
