.sub-nav1,
.sub-nav2,
.sub-nav3 {
  @include submenu;

  &__list {
    @include list;
  }

  &__item {
    @include list-item;
  }

  &__link {
    @include link;
  }
}
.active {
  @include active-class;
}

.signup-active {
  @media only screen and (max-width: $bp-medium) and (min-height: 600px) {
    top: 15.5rem;
    height: 6rem;
  }
  @media only screen and (max-width: $bp-small) {
    top: 16rem;
    z-index: 4000;
  }

  @media only screen and (max-width: $bp-vsmall) and (min-height: 600px) {
    height: 45rem;
  }

  @media only screen and (max-width: $bp-vsmall) {
    height: 6rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    top: 49.5rem;
    height: 45rem;
  }
}

.sub-signup {
  @media only screen and (max-width: $bp-small) {
    top: -19rem;
  }
}
