.sub-nav1,
.sub-nav2,
.sub-nav3 {
  @include submenu;

  &__list {
    @include list;
  }

  &__item {
    @include list-item;
  }

  &__link {
    @include link;
  }
}
.active {
  @include active-class;
}

.signup-active {
  @media only screen and (max-width: $bp-small) {
    top: 47%;
  }

  @media only screen and (max-width: $bp-vsmall) {
    top: 46%;
  }

  @media only screen and (max-width: $bp-mobile) {
    top: 43%;
  }
}

.sub-signup {
  @media only screen and (max-width: $bp-small) {
    top: -18rem;
  }
}
