@mixin active-class {
  width: 100%;
  height: 10vh;
  right: 0;
  background-color: var(--submenu-color);
  position: fixed;
  top: 18%;
  right: 0;
  z-index: 3000;
  //transition: all ease-out 1.4s;

  @media only screen and (max-width: $bp-medium) {
    top: 17%;
  }

  @media only screen and (max-width: $bp-small) {
    transform: translateY(-35rem);
    top: 47%;
    right: 0;
    height: 50vh;
    transition: all ease-out 0.3s;
  }

  @media only screen and (max-width: $bp-vsmall) {
    top: 52%;
    height: 50vh;
  }

  @media only screen and (max-width: $bp-mobile) {
    top: 43%;
    height: 40rem;
  }
}

@mixin active-item {
  background-color: var(--submenu-color);
}

@mixin box-styling($background-color, $url) {
  background-color: $background-color;
  width: 30%;
  height: 40rem;
  position: relative;

  @media only screen and (max-width: $bp-large) {
    height: 35rem;
  }

  @media only screen and (max-width: $bp-small) {
    height: 32rem;
  }

  @media only screen and (max-width: $bp-vsmall) {
    width: 32%;
  }

  @media only screen and (max-width: $bp-mobile) {
    width: 90%;
    height: 80vh;
    margin: 1rem auto;
  }

  &__title {
    display: block;
    font-weight: 200;
    font-style: italic;
    font-size: 2.2rem;
    position: absolute;
    left: 35%;
    padding: 1rem 0;

    @media only screen and (max-width: $bp-largest) {
      left: 28%;
      padding: 2rem 0;
      font-size: 2.1rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.9rem;
      left: 20%;
      padding: 2rem 0;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.7rem;
      left: 15%;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 2.7rem;
      left: 25%;
    }
  }

  &__text {
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    position: absolute;
    left: 35%;
    top: 7%;
    display: block;
    padding: 1rem 0;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.3rem;
      left: 28%;
      top: 12%;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.1rem;
      left: 20%;
      top: 10%;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 0.9rem;
      left: 15%;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 1.6rem;
      left: 25%;
    }
  }

  &__details {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    padding: 0.8rem 0;

    @media only screen and (max-width: $bp-largest) {
      padding: 1.9rem 0;
    }
  }

  &__container {
    width: 65%;
    height: 30rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url($url);
    background-size: cover;

    @media only screen and (max-width: $bp-largest) {
      width: 85%;
      background-size: 85% 100%;
      background-repeat: no-repeat;
      background-position: right bottom;
      height: 63%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 95%;
      height: 70%;
    }
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      background-size: 75% 100%;
    }
  }
}

@mixin button($color, $background-color) {
  display: block;
  width: 30%;
  height: 5rem;
  color: $color;
  background-color: $background-color;
  margin: 4rem auto;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

@mixin company-logo {
  width: 100%;
  height: 10%;
  display: table;
  background-color: #fff;

  &__title {
    font-family: "Rosarivo", serif;
    font-size: 3.8rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

@mixin link {
  text-decoration: none;
  color: #000;
  line-height: 2px;

  @media only screen and (max-width: $bp-small) {
    text-align: left;
  }
}

@mixin list {
  display: flex;
  justify-content: space-around;
  height: 100%;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    flex: 100%;
    height: 100%;
  }
}

@mixin list-item {
  font-family: "Truculenta", sans-serif;
  font-size: 1.6rem;
  list-style: none;
  padding: 2% 0;
  width: 10rem;
  display: flex;
  justify-content: center;
  border-bottom: 0;
  font-weight: 200;

  @media only screen and (max-width: $bp-medium) {
    padding: 3% 0;
  }

  @media only screen and (max-width: $bp-small) {
    padding-left: 4rem;
  }
}

@mixin polygon {
  background-color: var(--polygon-color);
  width: 15%;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  height: 80%;

  @media only screen and (max-width: $bp-large) {
    width: 18%;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 16rem;
  }

  @media only screen and (max-width: $bp-small) {
    height: 14rem;
  }

  @media only screen and (max-width: $bp-vsmall) {
    width: 20%;
    height: 13rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    height: 23%;
    width: 60%;
    margin: 0 auto;
  }
}

@mixin students-regulars($background-color) {
  grid-row: 3 / 7;
  grid-column: 1 / -1;
  display: flex;

  @media only screen and (max-width: $bp-small) {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  @media only screen and (max-width: $bp-mobile) {
    margin: 8rem auto;
  }
  &__image {
    width: 50%;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }
  &__description {
    width: 60%;
    background-color: $background-color;
    padding: 0 5%;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      height: 61.4vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transform: translateY(-10px);
    }
  }
  &__title,
  &__offer,
  &__duration,
  &__details {
    text-align: center;
    margin-bottom: 5%;
  }
  &__title {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2.8rem;
    margin-top: 5%;

    @media only screen and (max-width: $bp-small) {
      margin: 0;
    }
  }
  &__offer {
    font-size: 7rem;
    font-weight: 300;
  }
  &__duration {
    letter-spacing: 2px;
    font-weight: 400;
  }
  &__details {
    font-weight: 200;
  }

  &__offer {
    font-family: $font-students;
  }
}

@mixin submenu {
  position: absolute;
  top: 23%;
  right: 100%;
  background-color: var(--submenu-color);
  width: 100%;
  height: 12rem;
  //transition: all 1.4s;
  z-index: 3000;

  @media only screen and (max-width: $bp-medium) {
    height: 9rem;
  }

  @media only screen and (max-width: $bp-small) {
    right: 0;
    top: 0;
    transition: all 0.3s;
  }
}
