// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
$font-logo: "Rosarivo", serif;
$font-students: "Risque", cursive;

// Breakpoint variables
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 57.5em; //920px
$bp-small: 50.063em; //801px
$bp-vsmall: 46.563em; //745px
$bp-mobile: 39.375em; //630px
$bp-mobile-sm: 25.75em; //412px
