// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
$font-logo: "Rosarivo", serif;
$font-students: "Risque", cursive;

// Breakpoint variables
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 50.063em; //800px
$bp-vsmall: 43.75em; //700px
$bp-mobile: 39.375em; //630px
