@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.signup {
  grid-column: 1 / -1;
  grid-row: 1 / 9;

  @media only screen and (max-width: variables.$bp-mobile) {
    grid-row: 1 / 12;
  }
}

.company-logo {
  width: 100%;
  height: 10%;
  display: table;

  &__title {
    font-family: "Rosarivo", serif;
    font-size: 3.8rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.newCustomer {
  grid-row: 3 / 5;
  grid-column: 4 / 12;

  &__label {
    display: block;
    margin: 2rem 25%;
  }

  &__title {
    width: 25%;
    height: 4rem;
    display: block;
    margin: 0 25%;
    border: 1px solid var(--border-color);
  }

  &__input {
    width: 50%;
    height: 4rem;
    display: block;
    margin: 0 auto;
    border: 1px solid var(--border-color);
  }

  &__submit {
    @include button(#fff, var(--light-dark));
    background-color: var(--shop-color);
    border: 1px solid var(--border-color);

    @media only screen and (max-width: variables.$bp-small) {
      font-size: 1.2rem;
    }
    @media only screen and (max-width: variables.$bp-small) {
      font-size: 1rem;
    }
    @media only screen and (max-width: variables.$bp-mobile) {
      font-size: 0.9rem;
      width: 40%;
    }
  }

  @media only screen and (max-width: variables.$bp-mobile) {
    grid-column: 1 / -1;
  }
}

.d-o-b {
  display: flex;
  width: 50%;
  margin: 0 auto;

  &__input {
    flex-grow: 1;
    height: 4rem;
    border: 1px solid var(--border-color);
  }
}
